# flyctl launch added from .gitignore
**/data

**/tmp

**/.air.toml

**/notes.txt

**/main

# flyctl launch added from frontend/.gitignore
frontend/**/node_modules

# Output
frontend/**/.output
frontend/**/.vercel
frontend/**/.netlify
frontend/**/.wrangler
frontend/.svelte-kit
frontend/build

# OS
frontend/**/.DS_Store
frontend/**/Thumbs.db

# Vite
frontend/**/vite.config.js.timestamp-*
frontend/**/vite.config.ts.timestamp-*
fly.toml
