
{{define "base"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farmsville</title>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>
    <div class="header-container">
        <header class="header">
            <div class="header-wrapper">
                <div class="text-xl font-bold">
                    Welcome, Guest
                </div>
                <nav>
                    <ul class="header-ul">
                        <li>
                            <a href="/" class="header-li">Inventory</a>
                        </li>
                        <li>
                            <a href="/messages" class="header-li">Messages</a>
                        </li>
                        <li>
                            <a href="/blog" class="header-li">Blog</a>
                        </li>
                        <li>
                            <a href="/login" class="header-li">Login</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>

        <main class="flex-grow">
            {{template "main" .}}
        </main>
    </div>
</body>
</html>
{{end}}
